# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Virtual environments #
########################
venv/
env/
*.env
pip-lock.txt

# IDE specific files #
######################
.idea/
.vscode/
*.code-workspace

# Image processing outputs #
############################
/output_images/

# Model checkpoints and weights #
#################################
/model_checkpoints/
/weights/

# Temporary files #
###################
*.tmp
*.temp

# Jupyter notebook checkpoints #
################################
.ipynb_checkpoints/

# HTML and web-related files #
##############################
*.html
*.htm
*.css
*.js
*.map

# Python specific #
###################
*.pyc
__pycache__/

# Java specific #
#################
*.class

# Other #
#########
.DS_Store
